<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <header>
    <div class="container">
        <div class="navbar-custom">
            <a class="navbar-brand" routerLink="/">LOGO</a>
            <nav class="nav-custom">
                <ul>
                    <li><a routerLink="/">Login</a></li>
                    <li><a routerLink="/">Products</a></li>
                    <li><a routerLink="/">Contact</a></li>
                    <li><a routerLink="/">Cart <span>3</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</body>
</html>
