<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    
        <header class="header">
            <div class="logo">ChanTan</div>
            <nav class="nav">
                <a routerLink="" routerLinkActive="active">HOME</a>
                <a  routerLink="/produits" routerLinkActive="active">PRODUCTS</a>
                <a routerLink="/login" routerLinkActive="active">LOGIN</a>
                <a routerLink="/cart" routerLinkActive="active">CART <span>0</span></a>
            </nav>
            
            
        </header>
        
        
    

</body>
</html>
