<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    
        <header class="header">
            <div class="logo">Moul Tech</div>
            <nav class="nav">
                <a routerLink="" routerLinkActive="active">HOME</a>
                <a  routerLink="/produits" routerLinkActive="active">PRODUCTS</a>
                <a routerLink="/log-in" routerLinkActive="active">LOGIN</a>
                <a routerLink="/cart" routerLinkActive="active">CART <span id="numberofitems">0</span></a>
            </nav>
            
            
        </header>
        
        <script>
             function updateSpanWithLength() {
    // Retrieve the object from localStorage
    const storedObject = localStorage.getItem('cartItem');

    // Parse the JSON string back to an object
    const obj = JSON.parse(storedObject);

    // Calculate the length of the object
    const length = Object.keys(obj).length;

    // Update the span's content
    document.getElementById('numberofitems').textContent = length;
} 
    updateSpanWithLength();
        </script>
    

</body>
</html>
