        .main {
            display: flex;
            height: 80vh;
            background: linear-gradient(135deg, #ff9100 50%, #ffffff 50%);
        }
        .content {
            flex: 1;
            padding: 50px;
            color: #000000;
        }
        h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }
        .buttons {
            margin-top: 30px;
        }
        .btn {
            padding: 10px 20px;
            margin-right: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-primary {
            background-color: #fff;
            color: #ffa218;
        }
        .btn-primary:hover{
            background-color: #000000;
        }
        .btn-secondary {
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
        }
        
 