<div class="container">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a routerLink="/commandes" routerLinkActive="active" class="nav-link">Orders</a></li>
                <li><a routerLink="/product-list"  routerLinkActive="active" class="nav-link">Products</a></li>
                <li><a routerLink="/add-product" routerLinkActive="active" class="nav-link">Add Product</a></li>
                <li><a routerLink="/" class="nav-link" routerLinkActive="active">Logout</a></li>
            </ul>
        </nav>
    </aside>
        <router-outlet></router-outlet>
    

