.sidebar {
    margin-top: 75px;
    background-color: #000000; 
    color: #ffffff; 
    height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 250px;
}

.sidebar h2 {
    color: #ffa500;
}

.sidebar .nav-link {
    color: #ffffff; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar .nav-link.active {
    background-color: #ffa500; 
    color: #000000; 
}

.sidebar .nav-link:hover {
    background-color: #ffa500; 
    color: #000000;
}
